<!DOCTYPE html>
<html>
<head>
    <title>Add Maintenance</title>
</head>
<body>

<h1>Add Maintenance Record</h1>

<form method="POST">

<label>Maintenance Date</label>
<input type="date"
name="maintenance_date" required>

<br><br>

<label>Technician Name</label>

<input type="text"
name="technician_name" required>

<br><br>

<label>Issue Reported</label>

<textarea
name="issue_reported">
</textarea>

<br><br>

<label>Resolution Notes</label>

<textarea
name="resolution_notes">
</textarea>

<br><br>

<label>Next Due Date</label>

<input type="date"
name="next_due_date" required>

<br><br>

<button type="submit">
Save
</button>

</form>

</body>
</html>